<div class="page-wrapper">
  <div class="title">
    <h1 class="title__main">Bin2Dec</h1>
    <h2 class="title__sub">Convert binary to decimal</h2>
  </div>
  <div class="form-wrapper">
    <form class="form">
      <div class="form__input">
        <input
          (input)="getInput($event)"
          class="form__input-inner"
          type="text"
          [(ngModel)]="number"
          name="number"
          placeholder="Type here"
        />
      </div>

      <div class="screen">
        <div class="screen__display">
          <label>{{ result }}</label>
        </div>
      </div>
      <div class="error" *ngIf="alert">
        <div class="error__bar"></div>
        <div class="error__icon">
          <label class="error__icon--symbol">!</label>
        </div>
        <div class="error__message">{{ alert }}</div>
      </div>
    </form>
  </div>
  <div class="footer">
    <div class="footer__container">Designed by Lionel Traore</div>
  </div>
</div>
